.my_text_center {
  text-align: center;
  margin-top: 4%;
  color: rgb(94, 194, 36);
}

.container {
  justify-content: center;
}

.base {
  position: relative;
  width: 100%;
  overflow:hidden;
  margin: 0 auto;
}

.footer {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 2%;
  font-size: 20px;
}

.img-fluid {
  width: 100%;
  display:block;
  margin:auto;
  padding-top: 2%;
}

.overlapping_div {
  position: absolute;
  background-color: black;
  border-radius: 2%;
  top: 14%;
  left: 6.5%;
  color: white;
  width: 49%;
  height: 68%;
}
.canvas-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  right:0;
}

.my_btn{
background-color: white;
}
.my_btn .fa {
  position: absolute;
  font-size: 3vw;
  background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
  border-radius: 50%;
}


.my_btn .fa:active {
  background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border: solid 2px #d8d8d8;
  border-radius: 50%;
}

.my_btn_start {
  left: 62%;
  top: 72.2%;
}

.my_btn_stop {
 left: 74%;
 top: 72.2%;
}

.my_btn_single {
  left: 86%;
  top: 72.2%;
}

.Oscillator {
  overflow:hidden
}